<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/formSelects-v4.css}">
    <!-- jQuery -->
    <script type="text/javascript" th:src="@{/X-admin/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/formSelects-v4.min.js}" charset="utf-8"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-col-md2 layui-show-xs-block">
                            <select class="layui-select" name="articleCategoryId" xm-select="articleCategoryId"
                                    xm-select-radio="">
                                <option value="">请选择文章分类</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="articleTitle" placeholder="请输入文章标题" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="search_btn">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
                           onclick="reload();" title="刷新">
                            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
                        </a>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="articleList" lay-filter="articleList"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="articleAuditStatusTool">

    <input type="checkbox" name="articleAuditStatus" lay-skin="switch" value="{{d.aid}}"
           lay-text="已审核|未审核" lay-filter="auditStatus" {{d.auditStatus==1?'checked':''}}>

</script>
<script type="text/html" id="articleStatusTool">

    <input type="checkbox" name="articleStatus" lay-skin="switch" value="{{d.aid}}"
           lay-text="公开|私有" lay-filter="articleStatus" {{d.status==1?'checked':''}}>

</script>
<script type="text/html" id="enableCommentTool">

    <input type="checkbox" name="enableComment" lay-filter="enableComment"
           lay-skin="switch" value="{{d.aid}}" lay-text="允许评论|不允许评论" {{d.enableComment==1?'checked':''}}>

</script>

<script type="text/html" id="articleListBar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="view">查看</a>

<!--    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="restore">还原</a>-->

<!--    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>-->

    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="clear">清除</a>
</script>

<script type="text/javascript" th:inline="javascript">
    layui.use(['form', 'layer', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            table = layui.table;
        var formSelects = layui.formSelects;

        formSelects.config("articleCategoryId", {
            type: 'get',
            keyName: 'categoryName',
            keyVal: 'categoryId',
            response: {
                statusCode: 200,
                statusName: 'resultCode',
                msgName: 'message',
                dataName: 'data'
            }
        });

        formSelects.data('articleCategoryId', 'server', {
            url: ''
        });

        var tableIns = table.render({
            elem: '#articleList',
            id: "articleListTable",
            url: '/admin/article/list',
            title: '文章列表',
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            height: "full-110",
            toolbar: true,
            cols: [
                [{type: 'checkbox', field: 'aid', fixed: "left"},
                    {field: 'author', title: '文章作者', align: "center", unresize: "true"},
                    {field: 'title', title: '文章标题', align: "center", unresize: "true"},
                    // {field: 'articleCategoryName', title: '文章分类', align: 'center', unresize: "true"},
                    {field: 'summary', title: '文章摘要', align: 'center', unresize: "true"},
                    {field: 'content', title: '文章内容', align: "center", unresize: "true"},
                    {field: 'views', title: '阅读量', align: 'center', unresize: "true"},
                    {field: 'createTime', title: '创建时间', align: 'center', unresize: "true"},
                    {
                        field: 'auditStatus', title: '审核状态', align: 'center', unresize: "true", templet: '#articleAuditStatusTool'
                    },
                    {
                        field: 'status', title: '文章状态', align: 'center', unresize: "true", templet: '#articleStatusTool'
                    },
                    {
                        field: 'enableComment', title: '评论设置', align: 'center', unresize: "true", templet: '#enableCommentTool'
                    },
                    {title: '操作', align: "center",width:185, unresize: "true", toolbar: "#articleListBar"}]
                ],
            page: true,
            loading: true,
        });

        //搜索
        form.on('submit(search_btn)', function (data) {
            var datas = data.field;
            for (var property in datas) {
                if (datas[property] === "") {
                    delete datas[property];
                }
            }
            console.log(datas);
            tableIns.reload({
                where: data.field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        form.on('switch(articleStatus)', function (data) {
            var articleStatus = data.elem.checked ? 1 : 0; //1为发布,0为草稿
            var index = top.layer.msg('数据提交中，请稍候', {icon: 16, time: false, shade: 0.8});
            $.post("/admin/article/changeArticleStatus",
                {
                    "aid": data.value,
                    "status": articleStatus
                }, function (s) {
                    setTimeout(function () {
                        top.layer.close(index);
                        form.render('select', 'articleStatus');
                        top.layer.msg(s.message);
                    }, 500);
                });
        });

        form.on('switch(enableComment)', function (data) {
            var enableComment = data.elem.checked ? 1 : 0; //1为不允许评论,0为允许评论
            var index = top.layer.msg('数据提交中，请稍候', {icon: 16, time: false, shade: 0.8});
            $.post("/admin/article/changeEnableCommentStatus",
                {
                    "aid": data.value,
                    "enableComment": enableComment
                }, function (s) {
                    setTimeout(function () {
                        top.layer.close(index);
                        form.render('select', 'enableComment');
                        top.layer.msg(s.message);
                    }, 500);
                });
        });

        form.on('switch(auditStatus)', function (data) {
            var auditStatus = data.elem.checked ? 1 : 0; //1为已审核,0为待审核
            var index = top.layer.msg('数据提交中，请稍候', {icon: 16, time: false, shade: 0.8});
            $.post("/admin/article/changeAuditStatus",
                {
                    "aid": data.value,
                    "auditStatus": auditStatus
                }, function (s) {
                    setTimeout(function () {
                        top.layer.close(index);
                        form.render('select', 'auditStatus');
                        top.layer.msg(s.message);
                    }, 500);
                });
        });

        //监听工具条
        table.on('tool(articleList)', function (obj) {
            var data = obj.data, //获得当前行数据
                layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            switch (layEvent) {
                // case 'del':
                //     layer.confirm('确定删除此文章？', {icon: 3, title: '提示信息'}, function (index) {
                //         $.post("/admin/v1/blog/delete",
                //             {
                //                 "blogId": data.blogId
                //             }, function (s) {
                //                 layer.msg(s.message);
                //             });
                //         layer.close(index);
                //         tableIns.reload();
                //     });
                //     break;
                // case 'restore':
                //     layer.confirm('确定还原此文章？', {icon: 3, title: '提示信息'}, function (index) {
                //         $.post("/admin/v1/blog/restore",
                //             {
                //                 "blogId": data.blogId
                //             }, function (s) {
                //                 layer.msg(s.message);
                //             });
                //         layer.close(index);
                //         tableIns.reload();
                //     });
                //     break;
                case 'clear':
                    layer.confirm('确定从数据库中清除？', {icon: 3, title: '提示信息'}, function (index) {
                        $.ajax(
                            {
                                type: 'DELETE',
                                url: '/admin/article',
                                data: {
                                    "aid": data.aid
                                },
                                success(response){
                                    layer.msg(response.message);
                                }
                            }
                        );

                        layer.close(index);
                        tableIns.reload();
                    });
                    break;
                case 'view':
                    location.href = "/admin/article/?aid=" + data.aid;
                    break;
                case 'edit':
                    location.href = "/admin/article/edit?aid=" + data.aid;
                    break;
                default:
                    break;
            }
        });
    });
    function reload(){
        $.get("/admin/reload",function(data){
            if (data){
                location.reload();
            }else{
                parent.location.reload();
            }
        });
    }
</script>
</body>
</html>