<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>用户详细信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-form" id="userInfoForm" lay-filter="userInfoForm">
            <input name="id" type="hidden" id="id">
            <div class="layui-form-item">
                <label for="userName" class="layui-form-label">
                    <span class="x-red">*</span>登录名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="userName" name="userName" lay-verify="required"
                           autocomplete="off" class="layui-input"  disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="sex" class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <select id="sex" name="sex">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="age" class="layui-form-label">年龄</label>
                <div class="layui-input-inline">
                    <input type="number" id="age" name="age" lay-verify="number|age" autocomplete="off"
                           class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="email" class="layui-form-label">
                    <span class="x-red">*</span>邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" id="email" name="email" lay-verify="required|email"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <input name="uid" type="hidden" id="uid">
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="submit" lay-submit="">保存</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    layui.use(['form', 'layer', 'upload'], function () {
        $ = layui.jquery;
        var form = layui.form,
            upload = layui.upload,
            layer = layui.layer;

        var userInfo = [[${userInfo}]];
        form.val('userInfoForm',userInfo);

        //自定义验证规则
        form.verify({
            sex:function(value){
                if(value !== '男' || value !== '女' || value !== "中性"){
                    return '性别必须为男或女，请重新输入!';
                }
            },
            age:function(value){
              if(value<0 || value>200){
                  return '请重新输入年龄！';
              }
            }
        });

        //监听提交
        form.on('submit(submit)', function (data) {
            // console.log(data.field);
            $.ajax({
                url: "/user/updateUserInfo",
                type: "post",
                data: data.field,
                success: function (s) {
                    layer.msg(s.message,function () {
                    });
                },
                error: function () {
                    layer.msg("接口异常!", function () {
                    });
                }
            });
        });

    });
</script>
</body>

</html>